* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 39, 40)
}

.active {
  color: white !important;
}

/*---------------------------------------------------------------------------------------------*/

/* Header style*/

.header {
  width: 100%;
}

.headerContainer {
  width: 75%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.headerLogo {
  width: 60px;
  height: 60px;
  padding: 2px;
  border: 1px rgb(238, 95, 56) solid;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.headerLogo img {
  width: 100%;
  border-radius: 30px;
}

.menu {
  display: flex;
  list-style: none;
}

.menuItem {
  margin: 0 25px;
  font-family: 'Heebo', sans-serif;
}

.menuItem a {
  color: rgb(238, 95, 56);
  text-decoration: none;
  position: relative;
}

.menuItem a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  border: 0.5px solid rgb(238, 95, 56);
  transform: scaleX(0);

  transition: transform 300ms ease-in-out;
}

.menuItem a:hover::before {
  transform: scaleX(1);
}

.mobileMenu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid rgb(238, 95, 56);
  display: none;
}

.mobileMenu i {
  color: rgb(238, 95, 56);
}



/* Section Styles */

.meSection {
  margin-top: 200px;
  width: 100%;
  padding-bottom: 100px;
}

.sectionContainer {
  width: 75%;
  margin: 0 auto;
  display: flex;
}

.left {
  background-color: white;
  min-width: 400px;

  padding: 20px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-right: 70px;
}

.myPic {
  margin-top: -170px;
  width: 300px;
  border: 1px rgb(238, 95, 56) solid;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 50px;
}

.myPic img {
  width: 100%;
  border-radius: 50%;
}

.who {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e7eb;
}

.myName,
.myJob {
  font-family: Heebo;
}

.myJob {
  color: #717171;
}

.contectMeItem {
  color: rgb(238, 95, 56);
  display: flex;
  margin: 20px 0;
  font-size: 20px;
  align-items: center;
}

.contectMeItem p,
.contectMeItem a {
  font-family: Heebo;
  text-decoration: none;
  color: #717171;
}

.contectMeItem .icon {
  margin-right: 15px;
}

.icon {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(238, 95, 56);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greet {
  font-style: italic;
  font-size: 25px;
  font-family: Heebo;
  color: rgb(238, 95, 56);
  text-transform: uppercase;
  font-weight: 500;
}

.rightName {
  font-size: 70px;
  font-family: Heebo;
  color: white;
}

.rightJob {
  font-size: 30px;
  font-family: Heebo;
  color: white;
}

.rightDesc {
  width: 400px;
  color: white;
  font-family: Heebo;
  margin-top: 10px;
}

.follow {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.follow p {
  font-family: Heebo;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.follow ul {
  list-style: none;
  display: flex;
  font-size: 25px;
}

.follow ul li {
  margin: 0 15px;
}

.follow ul li a {
  text-decoration: none;
  color: rgb(238, 95, 56);
}



/*---------------------------------------------------------------------------------------------*/


/*     Contact Page style      */

.contactSection {
  width: 100%;
  text-align: center;
  padding-bottom: 150px;
}

.contactHeading {
  color: white;
  font-family: Heebo;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.contactHeading span {
  color: rgb(238, 95, 56);
}

.contact {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

textarea {
  resize: vertical;
  width: 97%;
  padding: 0.5rem 1.25rem;
  font-family: Heebo;
  font-size: 17px;
  border-radius: 10px;
  background-color: rgb(36, 39, 40);
  color: white;
  border: 1px solid #717171;
  margin-top: 15px;
  margin-bottom: 15px;
}

.contactLeft {
  width: 60%;
}
.contactRight{
  width: 40%;
}

.contactLeft h3 {
  color: rgb(238, 95, 56);
  font-size: 25px;
  font-family: Heebo;
}

.contactLeft h2 {
  color: white;
  font-size: 50px;
  font-family: Heebo;
}

.contactLeft p {
  color: white;
  font-size: 17px;
  font-family: Heebo;
  width: 400px;
}

.contactLeft form {
  margin-top: 50px;
}

.row {
  display: flex;
}

.input {
  padding: 0.5rem 1.25rem;
  font-family: Heebo;
  font-size: 17px;
  width: 49.5%;
  margin-right: 20px;
  border-radius: 10px;
  background-color: rgb(36, 39, 40);
  color: white;
  border: 1px solid #717171;
}

.contactLeft button {
  padding: 10px 42px;
  font-size: 25px;
  font-family: Heebo;
  background-color: rgb(238, 95, 56);
  color: white;
  border-radius: 50px;
  border: none;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.contactLeft button:hover {
  background-color: black;
}

.contactItem {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.contactIcon {
  color: white;
  font-size: 25px;
  background-color: rgb(238, 95, 56);
  padding: 20px 21px;
  border-radius: 50px;
  margin-right: 20px;
}

.contactItem p:first-child {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: Heebo;
}

.contactItem p,
.contactItem a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Heebo;
}



.portfolio {
  width: 100%;
  text-align: center;
  padding-bottom: 70px;
}

.portfolioContainer {
  width: 75%;
  margin: auto;
}

.portfolioGrid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  row-gap: 10px;
  column-gap: 10px;
}

.portfolioGrid img {
  width: 100%;
  border-radius: 5px;
}

.portfolioHeading {
  font-family: Heebo;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: white;
}

.portfolioGridItem {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  line-height: 0;
}

.portfolioGridItem:hover .overlay {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.portfolioGridItem:hover .overlay p {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(232, 232, 232, 0.8);
  font-family: 'Poppins', sans-serif;
  color: black;
  border-radius: 5px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.overlay p {
  transform: translateY(50px);
  transition: all 0.3s ease-in-out;
}




.footer-basic {
  padding: 40px 0;
  background-color: rgb(36, 39, 40);
  color: white;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  font-family: Heebo;
  color: rgb(238, 95, 56);
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}


.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgb(238, 95, 56);
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .social a i {
  color: rgb(238, 95, 56);
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}


/* responsive */

@media (max-width: 600px) {
  .headerContainer {
    width: 90%;
  }

  .navigation {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .sectionContainer {
    flex-direction: column;
    width: 100%
  }

  .left {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .right {
    width: 100%;
    text-align: center;
  }

  .follow {
    align-items: center;
    justify-content: center;
  }

  .follow p {
    font-size: 15px;
  }

  .rightName {
    font-size: 30px;
  }

  .rightJob {
    font-size: 15px;
  }

  .portfolioGrid {
    grid-template-columns: 1fr;
  }
  .contact{
    flex-direction: column;
    width: 90%;
  }
  .contactLeft{
    width: 95%;
  }
  .contactRight{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (600px < width < 1000px) {
  .headerContainer {
    width: 90%;
  }

  .navigation {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .sectionContainer {
    flex-direction: column;
    width: 100%
  }

  .left {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .right {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .follow {
    align-items: center;
    justify-content: center;
  }

  .rightDesc {
    width: 100%;
  }

  .follow p {
    font-size: 15px;
  }

  .rightName {
    font-size: 30px;
  }

  .rightJob {
    font-size: 15px;
  }

  .portfolioGrid {
    grid-template-columns: 1fr 1fr;
  }
  .contact{
    flex-direction: column;
    width: 90%;
  }
  .contactLeft{
    width: 95%;
  }
  .contactRight{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1000px) {
  .navigation {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .sectionContainer {
    flex-direction: column;
  }

  .left {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .right {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .follow {
    align-items: center;
    justify-content: center;
  }

  .rightDesc {
    width: 100%;
  }

  .rightName {
    font-size: 50px;
  }

  .rightJob {
    font-size: 30px;
  }
}